.screen-reader-text {display:none;}
#page {
    overflow-x: hidden;
    overflow-y: auto;
}

body,html {
    color: $white;
    background: darken($color-3, 10);
    background: linear-gradient(25deg, darken($color-3, 15), darken($color-3, 5));
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.6rem;
}

a, a:visited {
    color: $color-2;
    text-decoration: none;
    &:hover {
        color: lighten($color-2, 5);
        text-decoration: underline;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-stack;
    font-size: 3rem;
    a {
        color: $white;
        text-decoration: none;
    }
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5,h6 { font-size: 1.25rem; }

.site-header {
    text-align: center;
    display:flex;
    width: 100%;
    align-items: center;
    h1 {
        margin: 0;
    }
}

.site-title a {
    display: block;
    max-width: 250px;
    height: auto;
    transform: scale(.9);
    transition: transform .35s $bounce;
    svg {
        width: 100%;
        height: auto;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.who {
    display: none;
    font-family: $heading-stack;
    font-size: 3rem;
    margin: 0 auto;
    .and {
        transform: scale(4);
        margin: $spacing 0;
        opacity: .1;
        display: inline-block;
    }
}

a #logo-svg {
    fill: $color-2;
    
}
a:hover #logo-svg {
    fill: lighten($color-2, 15);
}

#content {
    min-height: 100vh;
}

#content, .site-header, .footer-inner {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    padding: $spacing;
}

#site-navigation {
    padding-left: 5vw;
    font-family: $nav-stack;
    font-size: 2rem;
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        position: relative;
        padding: 0;
        &:after {
            position: absolute;
            display: block;
            content: " ";
            opacity: 0;
            background: $color-1;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            z-index: 10;
            transform: rotate(-5deg);
            transition: opacity .15s ease-in-out;
            box-shadow: 3px 3px 0 0 darken($color-1, 15),
                        3px 3px 3px rgba($black, .25);
        }
        &:nth-child(odd):after {
            transform: rotate(5deg);
        }
        &:hover:after {
            opacity: 1;
        }
    }
    a {
        display: block;
        font-weight: 300;
        color: $white;
        position: relative;
        z-index: 20;
        padding: .5rem;
        opacity: .75;
        transition: all .15s ease-in-out;
        &:hover {
            text-decoration: none;
            text-shadow: 0 0 3px white;
            opacity: 1;
        }
    }
}

.footer-inner {
    min-width: 1024px;
}

.site-footer {
    font-size: .9rem;
    min-height: 100vh;
    background: darken($color-1, 18);
    padding: $spacing;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    ul {
        margin-left: 0;
        padding-left: 1.25rem;
    }
    a {
        color: lighten($color-1, 10);
    }
    aside {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            font-family: $nav-stack;
        }
        section {
            width: 30%;
            padding: 0 $spacing;
            min-width: 320px;
        }
    }
}

.entry-meta {
    font-size: .75rem;
    opacity: .5;
    transition: opacity .15s ease-in-out;
    text-transform: uppercase;
    &:hover {
        opacity: 1;
    }
}