@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:700|Open+Sans:400,300,400italic,700);
.screen-reader-text {
  display: none; }

#page {
  overflow-x: hidden;
  overflow-y: auto; }

body, html {
  color: #fdfdfd;
  background: #170507;
  background: linear-gradient(25deg, #020001, #2b0a0d);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6rem; }

a, a:visited {
  color: #D93A2B;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #dd4e41;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #fdfdfd;
    text-decoration: none; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5, h6 {
  font-size: 1.25rem; }

.site-header {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center; }
  .site-header h1 {
    margin: 0; }

.site-title a {
  display: block;
  max-width: 250px;
  height: auto;
  transform: scale(0.9);
  transition: transform 0.35s cubic-bezier(0, 1.59, 1, 0.91); }
  .site-title a svg {
    width: 100%;
    height: auto; }
  .site-title a:hover {
    transform: scale(1.1); }

.who {
  display: none;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  margin: 0 auto; }
  .who .and {
    transform: scale(4);
    margin: 2rem 0;
    opacity: .1;
    display: inline-block; }

a #logo-svg {
  fill: #D93A2B; }

a:hover #logo-svg {
  fill: #e5766c; }

#content {
  min-height: 100vh; }

#content, .site-header, .footer-inner {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem; }

#site-navigation {
  padding-left: 5vw;
  font-family: "Amatic SC", cursive;
  font-size: 2rem; }
  #site-navigation ul {
    display: flex;
    justify-content: center; }
  #site-navigation li {
    position: relative;
    padding: 0; }
    #site-navigation li:after {
      position: absolute;
      display: block;
      content: " ";
      opacity: 0;
      background: #027368;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
      transform: rotate(-5deg);
      transition: opacity .15s ease-in-out;
      box-shadow: 3px 3px 0 0 #012824, 3px 3px 3px rgba(17, 17, 17, 0.25); }
    #site-navigation li:nth-child(odd):after {
      transform: rotate(5deg); }
    #site-navigation li:hover:after {
      opacity: 1; }
  #site-navigation a {
    display: block;
    font-weight: 300;
    color: #fdfdfd;
    position: relative;
    z-index: 20;
    padding: .5rem;
    opacity: .75;
    transition: all .15s ease-in-out; }
    #site-navigation a:hover {
      text-decoration: none;
      text-shadow: 0 0 3px white;
      opacity: 1; }

.footer-inner {
  min-width: 1024px; }

.site-footer {
  font-size: .9rem;
  min-height: 100vh;
  background: #001916;
  padding: 2rem;
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center; }
  .site-footer ul {
    margin-left: 0;
    padding-left: 1.25rem; }
  .site-footer a {
    color: #03a595; }
  .site-footer aside {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center; }
    .site-footer aside h2 {
      font-family: "Amatic SC", cursive; }
    .site-footer aside section {
      width: 30%;
      padding: 0 2rem;
      min-width: 320px; }

.entry-meta {
  font-size: .75rem;
  opacity: .5;
  transition: opacity .15s ease-in-out;
  text-transform: uppercase; }
  .entry-meta:hover {
    opacity: 1; }

.icon.img, figure {
  background: #f0f0f0;
  background: linear-gradient(-25deg, #aaa 1%, #fdfdfd 5%);
  padding: 0.5rem;
  opacity: 1 !important;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: relative;
  z-index: 20; }
  .icon.img img, figure img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%; }
  .icon.img figcaption, figure figcaption {
    font-family: "Dancing Script", cursive;
    color: #111;
    padding: 0.5rem;
    padding-bottom: 0;
    font-size: 1.3rem;
    line-height: 1.3rem; }

figure img {
  margin-bottom: 0; }

.read-more {
  background: #027368;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  font-size: .65rem;
  color: #fdfdfd !important;
  text-transform: uppercase;
  box-shadow: 1px 1px 0 0 #01413b;
  margin-top: "-2rem";
  transition: all 0.3s cubic-bezier(0, 1.59, 1, 0.91); }
  .read-more:hover {
    color: #fdfdfd;
    text-decoration: none;
    transform: translate(0, -15px) rotate(-3deg);
    box-shadow: 5px 5px 0 0 #01413b; }

.post-edit-link {
  display: none; }

.home .site-header {
  display: block; }
  .home .site-header .who {
    display: block;
    margin-bottom: 4rem;
    margin-top: 4rem; }
.home .site-title a {
  width: 100%;
  max-width: 460px;
  margin: 0 auto; }
.home .entry-title {
  display: none; }

.home-block {
  position: relative;
  z-index: 10;
  padding: 4rem;
  margin: 0; }
  @media screen and (min-width: 825px) {
    .home-block {
      padding-right: 275px; }
      .home-block:nth-child(odd) {
        padding-right: 4rem;
        padding-left: 275px; } }
  .home-block.full {
    padding: 4rem; }
  .home-block h2 {
    display: inline-block; }
  .home-block h2 > span {
    text-align: left;
    padding: 0.5rem;
    background: #D93A2B;
    display: inline-block;
    box-shadow: 3px 3px 0 0 #9c271c;
    transform: rotate(-5deg) translateX(-3vw); }
  .home-block:nth-child(odd) h2 {
    text-align: right;
    display: block; }
  .home-block:nth-child(odd) h2 > span {
    padding: 0.5rem;
    background: #D93A2B;
    display: inline-block;
    box-shadow: 3px 3px 0 0 #9c271c;
    transform: rotate(5deg) translateX(3vw); }
  .home-block h3 {
    font-family: "Amatic SC", cursive; }
  .home-block:before, .home-block:after {
    display: block;
    content: " ";
    max-height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
  .home-block:after {
    top: 1px;
    bottom: 0;
    max-height: none;
    max-width: 1px;
    left: auto;
    border-top: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .home-block:nth-child(odd):after {
    left: 0;
    right: auto; }
  .home-block:first-child:before {
    right: -100vw; }
  .home-block:last-child:after {
    bottom: -100vh; }
  .home-block .icon {
    width: 100%;
    margin: 0 auto 2rem;
    opacity: .5;
    transition: opacity .25s ease-in-out; }
    @media screen and (min-width: 825px) {
      .home-block .icon {
        width: 250px;
        right: -50px;
        position: absolute; } }
  @media screen and (min-width: 825px) {
    .home-block:nth-child(odd) .icon {
      left: -50px;
      right: auto; } }
  .home-block svg {
    width: 100%;
    height: auto; }
  .home-block:hover .icon {
    opacity: 1; }

/*# sourceMappingURL=setup.css.map */
